<div class="page-header">
  <div class="pull-right">
    <a ng-click="save()" class="btn btn-success">
      <span class="glyphicon glyphicon-save"></span>
      <span ng-if="form.mode=='add'">Protokoll speichern</span>
      <span ng-if="form.mode=='edit'">Änderungen speichern</span>
    </a>
  </div>
  <h2 ng-if="form.mode=='add'">Protokoll erstellen</h2>
  <h2 ng-if="form.mode=='edit'">Protokoll bearbeiten</h2>
</div>

<form class="form-horizontal" role="form" ng-submit="form.submit()">
  <alert ng-if="form.message == 'error'" type="alert alert-danger">
    Systemfehler ({{form.data.errormessage}})
  </alert>
  <alert ng-if="form.message == 'invalid'" type="alert alert-warning">
    Einige Felder sind fehlerhaft.
  </alert>
  <alert ng-if="form.message == 'successAdd'" type="alert alert-success">
    Das Protokoll wurde gespeichert!
  </alert>
  <alert ng-if="form.message == 'successEdit'" type="alert alert-success">
    Das Protokoll wurde erfolgreich bearbeitet!
  </alert>

  <div class="form-group" ng-class="{'has-error has-feedback': form.errors.title}">
    <label for="inputTitle" class="col-sm-2 control-label">Titel</label>
    <div class="col-sm-10">
      <input type="text" ng-enter="checkTitle()" ng-model="form.protocolData.title" class="form-control" id="inputTitle" typeahead="title for title in commonTitles | filter:$viewValue" placeholder="Titel" tooltip-placement="right" tooltip-trigger="focus" tooltip="Sitzung? MV? Vorstand?">
      <span ng-if="form.errors.title" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    </div>
  </div>

  <div class="form-group" ng-class="{'has-error has-feedback': form.errors.recorder}">
    <label for="inputRecorder" class="col-sm-2 control-label">Protokollführer</label>
    <div class="col-sm-10">
      <input type="text" ng-model="form.protocolData.recorder" ng-required="true" class="form-control" id="inputRecorder" typeahead="user for user in users | filter:$viewValue | limitTo:8" placeholder="Protokollführer" tooltip-placement="right" tooltip-trigger="focus" tooltip="Wer ist Protokollführer?">
      <span ng-if="form.errors.recorder" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    </div>
  </div>

  <div class="form-group" ng-class="{'has-error has-feedback': form.errors.date}">
    <label for="inputDate" class="col-sm-2 control-label">Datum</label>
    <div class="col-md-2">
      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="form.date" is-open="openedDatepicker" datepicker-options="dateOptions" ng-required="true" close-text="Close" tooltip-placement="bottom" tooltip-trigger="focus" tooltip="Wann wurde das Protokoll erstellt?"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openDatepicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        <span ng-if="form.errors.date" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
      </p>
    </div>

    <label for="inputStartTimeHours" class="col-sm-2 control-label">Beginn</label>
    <div class="col-sm-2">
      <timepicker ng-model="startTime" show-meridian="false"></timepicker>
    </div>
    <label for="inputEndTimeHours" class="col-sm-2 control-label">Ende</label>
    <div class="col-sm-2">
      <timepicker ng-model="endTime" show-meridian="false"></timepicker>
    </div>
  </div>


  <div class="form-group" ng-class="{'has-error has-feedback': form.errors.attendants}">
    <label for="inputAttendants" class="col-sm-2 control-label">Anwesend</label>
    <div class="col-sm-10">
      <input type="text" ng-model="inputAttendee" ng-enter="addAttendants()" class="form-control" id="inputAttendants" typeahead="attendee for attendee in users | filter:$viewValue | limitTo:8" placeholder="Anwesende Personen" tooltip-placement="right" tooltip-trigger="focus" tooltip="Welche Mitglieder sind anwesend?">
      <span ng-if="form.errors.attendants" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    </div>
  </div>


  <div class="form-group" ng-class="{'has-error has-feedback': form.errors.attendants}">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      <div id="attendantsToolbar" class="btn-toolbar" role="toolbar" aria-label="...">
        <!-- Split button -->
        <div class="btn-group" dropdown ng-repeat="attendee in form.protocolData.attendants">
          <button type="button" class="btn btn-xs" ng-class="{'btn-success': (attendee.type == 'member'), 'btn-info': (attendee.type == 'applicant'), 'btn-default': (attendee.type == 'guest')}">{{attendee.name}}</button>
          
          
		  <button popover-template="laterPopover.template" popover-mode="single" type="button" class="btn btn-xs" ng-class="{'btn-success': (attendee.type == 'member'), 'btn-info': (attendee.type == 'applicant'), 'btn-default': (attendee.type == 'guest'), 'btn-danger': (attendee.later)}"><span class="glyphicon glyphicon-time"></span></button>
          
          
          <button type="button" class="btn btn-xs dropdown-toggle" ng-class="{'btn-success': (attendee.type == 'member'), 'btn-info': (attendee.type == 'applicant'), 'btn-default': (attendee.type == 'guest')}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdown-toggle>
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-click="attendee.type = 'member'"><span class="glyphicon glyphicon-user"></span> Clubmitglied</a></li>
            <li><a ng-click="attendee.type = 'applicant'"><span class="glyphicon glyphicon-user"></span> Anwärter</a></li>
            <li><a ng-click="attendee.type = 'guest'"><span class="glyphicon glyphicon-user"></span> Gast</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="removeAttendee($index)"><span class="glyphicon glyphicon-remove"></span> Entfernen</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</form>

<helpbox>
  <h4>Hinweise zu Markdown</h4>
  <p>

  </p>
</helpbox>

<h4>Protokolltext (Markdown)</h4>
<div class="well well-lg" ui-ace="aceoptions" ng-model="form.protocolData.text"> kommt der Protokolltext rein.</div>

<h4>Kommentare</h4>
<textarea class="form-control" ng-model="form.protocolData.comment" rows="3" placeholder="Kommentare"></textarea>
