<div class="page-header">
  <div class="pull-right">
    <a ng-href="#/protocols/add" class="btn btn-success">
      <span class="glyphicon glyphicon-plus"></span>
      Neues Protokoll
    </a>
  </div>
  <h2>Protokolle</h2>
</div>

<div class="panel panel-default" ng-repeat="(year, yprotocols) in protocols">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4>{{year}}</h4></div>
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="protocol in yprotocols">
      <strong>{{protocol.title}}</strong> ({{protocol.date | date:longDate}})
        <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
          
          <div class="btn-group" dropdown>
            
            
            <button ng-if="protocol.comment" type="button" class="btn btn-xs btn-primary" popover="{{protocol.comment}}" popover-trigger="mouseenter">
				<span class="glyphicon glyphicon-comment"></span>
			</button>
			
			<a type="button" ng-href="#/protocols/show/{{protocol.id}}" class="btn btn-xs btn-default" title="Anzeigen">
				<span class="glyphicon glyphicon-eye-open"></span>
			</a>
			
			<a type="button" class="disabled btn btn-xs btn-default" title="PDF herunterladen">
				<span class="glyphicon glyphicon-file"></span>
			</a>
            
            
            <button type="button" class="btn btn-xs btn-default dropdown-toggle" dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li>
                <a ng-href="#/protocols/edit/{{protocol.id}}">
                  <span class="glyphicon glyphicon-pencil"></span>
                  Bearbeiten
                </a>
              </li>
              <li>
                <a ng-click="users.remove(user)" disabled>
                  <span class="glyphicon glyphicon-trash"></span>
                  Löschen
                </a>
              </li>
            </ul>
          </div>
        </div>
        
    </li>
  </ul>
</div>
