<h2 class="page-header">Club-Kalender</h2>
<helpbox label="Hilfe" active="true">
Dieser Kalender zeigt die öffentlichen und internen Veranstaltungen an.<br>
Die Daten werden aus dem Kalender der Stura-Seite abgerufen.<br>
Mit Klick auf einen Termin werden Details angezeigt.
</helpbox>
<ul ng-if="false">
    <li ng-repeat="ev in events">
        {{ ev.text }}
    </li>
</ul>

<div data="events" eventclick="onEventClick" dhx-scheduler style="height:600px; width:800px;">
    <div class="dhx_cal_prev_button">&nbsp;</div>
    <div class="dhx_cal_next_button">&nbsp;</div>
    <div class="dhx_cal_today_button"></div>
    <div class="dhx_cal_date"></div>

    <div dhx-template="event_bar_text">
        <span>{{event.text}}</span>
    </div>
</div>
