/* for navbar bottom: */
body {
  padding-bottom: 70px;
}

a {
  cursor: pointer;
}
span.clubUserType {
  font-size: xx-small;
}
span.largeicon {
  font-size: 2em;
}

.centering{
  text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-xl{
  height: 60px;
  font-size: 2em;
}

.tooltip-inner {
    width: 150px;
    /* If max-width does not work, try using width instead */
    /*width: 100px;*/
}

/* floorplan container */
#map {
  height: 500px;
  width: 100%;
}
