/* for navbar bottom: */
body {
  padding-bottom: 70px;
}

a {
  cursor: pointer;
}
span.clubUserType {
  font-size: xx-small;
}
span.largeicon {
  font-size: 2em;
}

.centering {
  text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-xl {
  height: 60px;
  font-size: 2em;
}

.tooltip-inner {
    width: 150px;
    /* If max-width does not work, try using width instead */
    /*width: 100px;*/
}

.ace_editor { height: 400px; }

#protocolContent h1 {
  font-size: 2em;
}

#protocolContent h2 {
  font-size: 1.6em;
}

#protocolContent h3 {
  font-size: 1.4em;
}

#protocolContent h4 {
  font-size: 1.2em;
}

#attendantsToolbar .btn-group {
  margin-bottom: 5px;
}

/* timepicker row in protocol form */
#dateAndTimePicker a.btn-link {
  padding: 0px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #dateAndTimePicker p.datepicker {
    padding-top: 24px;
  }
  #dateAndTimePicker label {
    padding-top: 30px;
  }
}

/* Scroll-to-top-Button */
#scrollToTopBtn.ng-hide-add.ng-hide-add-active,
#scrollToTopBtn.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all ease-out 0.6s;
  -moz-transition: all ease-out 0.6s;
  -o-transition: all ease-out 0.6s;
  transition: all ease-out 0.6s;
}

#scrollToTopBtn.ng-hide {
  line-height: 0;
  opacity: 0;
  padding-right: 60px;
}

#scrollToTopBtn .glyphicon {
    font-size: 1.7em;
}
#scrollToTopBtn {
    color: #5cb85c;
    padding-top: 5px;
    padding-bottom: 0px;
}
@media (min-width: 768px) {
  #scrollToTopBtn .glyphicon {
    font-size: 2.7em;
  }
}

/* growl */
.growl-container > .growl-item.ng-enter {
  -webkit-transition:0s !important;
  -moz-transition:0s !important;
  -o-transition:0s !important;
  transition:0s !important;
}
.growl-container > .growl-item.ng-leave {
  -webkit-transition:1s linear all;
  -moz-transition:1s linear all;
  -o-transition:1s linear all;
  transition:1s linear all;
}

/* protocol-list */
.protocol-list li:hover {
  cursor: pointer;
  background-color: #F5F5F5;
}
