a {
  cursor: pointer;
}
span.clubUserType {
  font-size: xx-small;
}
span.largeicon {
  font-size: 2em;
}

.centering{
  text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-xl{
  height: 100px;
}
