<div class="page-header">
    <h2>Informationen zum WLAN-Zugang</h2>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h4>Zugangsdaten</h4>
  </div>


  <!-- Table -->
  <table class="table">
    <tr>
      <td style="width: 200px;">WLAN-Name (SSID):</td>
      <td>stecker</td>
    </tr>
    <tr>
      <td>Benutzername:</td>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <td>Passwort:</td>
      <td>&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull; (Dein persönliches Passwort vom CIS)</td>
    </tr>
    <tr>
      <td>Einstellungen:</td>
      <td>802.1X, PEAP, MSCHAPv2</td>
    </tr>
  </table>
</div>
