<div class="page-header">
    <h2>Einstellungen</h2>
</div>

<div class="list-group">

  <a href="settings/changepassword" class="list-group-item">
    <div class="row">
      <div style="width:50px; float:left;">
        <h2 style="margin: 0px; padding: 2px 0px 0px 10px;">
          <span class="glyphicon glyphicon-lock"></span>
        </h2>
      </div>
      <div>
        <h4 class="list-group-item-heading">Passwort ändern</h4>
        <p class="list-group-item-text hidden-xs">Hier kannst du dein eigenes Passwort ändern.</p>
      </div>
    </div>
  </a>

  <a href="settings/profile" class="list-group-item">
    <div class="row">
      <div style="width:50px; float:left;">
        <h2 style="margin: 0px; padding: 2px 0px 0px 10px;">
          <span class="glyphicon glyphicon-user"></span>
        </h2>
      </div>
      <div>
        <h4 class="list-group-item-heading">Profildaten bearbeiten</h4>
        <p class="list-group-item-text hidden-xs">Hier kannst du die Details zu deinem Profil bearbeiten.</p>
      </div>
    </div>
  </a>
</div>
