<div class="page-header">
  <h3 ng-if="form.mode=='profile'">Profil bearbeiten</h3>
  <h3 ng-if="form.mode=='add'">Benutzer hinzufügen</h3>
  <h3 ng-if="form.mode=='edit'">Benutzer bearbeiten</h3>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <alert ng-if="form.message == 'error'" type="alert alert-danger">
      Systemfehler ({{form.data.errormessage}})
    </alert>
    <alert ng-if="form.message == 'invalid'" type="alert alert-warning">
      Einige Felder sind fehlerhaft.
    </alert>
    <alert ng-if="form.message == 'successAdd'" type="alert alert-success">
      Der Benutzer <b>{{form.msgdata.username}}</b> wurde erfolgreich hinzugefügt! Das Passwort lautet: <b>{{form.msgdata.password}}</b>
    </alert>
    <alert ng-if="form.message == 'successEdit'" type="alert alert-success">
      Der Benutzer <b>{{form.data.username}}</b> wurde erfolgreich bearbeitet!
    </alert>


    <form class="form-horizontal" role="form" ng-submit="form.submit()" ng-if="form.data">

      <div class="form-group" ng-class="{'has-error': form.errors.username}">
        <label for="inputUsername" class="col-sm-3 control-label">Benutzername</label>
        <div class="col-sm-9">
          <input type="text" ng-model="form.data.username" ng-disabled="(form.mode != 'add')" class="form-control" id="inputUsername" placeholder="Benutzername"  tooltip-placement="right" tooltip-trigger="focus" tooltip="Dein Benutzername">
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': form.errors.type}">
        <label class="col-sm-3 control-label">Nutzerrechte</label>
        <div class="col-sm-7">
					<select class="form-control" ng-options="opt.value as opt.label for opt in options.usertypes" ng-model="form.data.type" ng-disabled="(form.mode == 'profile')"></select>
				</div>
				<div class="col-sm-2">
					<div class="checkbox">
						<label>
							<input ng-model="form.data.superuser" ng-disabled="(form.mode == 'profile')" type="checkbox"> Superuser
						</label>
					</div>
        </div>
      </div>

	  <div class="form-group" ng-class="{'has-error': form.errors.loginShell}" ng-if="form.data.superuser">
			<label for="inputLoginShell" class="col-sm-3 control-label">Login-Shell</label>
			<div class="col-sm-9">
				<select class="form-control" ng-options="opt.value as opt.label for opt in options.shells" ng-model="form.data.loginShell" ng-disabled="(form.mode == 'profile')">
					<option ng-repeat="shell in shells" value="{{shell}}" >{{shell}}</option>
				</select>
			</div>
		</div>


      <div class="form-group" ng-class="{'has-error': form.errors.role}">
        <label for="inputRole" class="col-sm-3 control-label">Position</label>
        <div class="col-sm-9">
          <input type="text" ng-model="form.data.role" class="form-control" id="inputRole" placeholder="Position" tooltip-placement="right" tooltip-trigger="focus" tooltip="zusätzliche Position (z.B. Vorstandsmitglied, etc.)">
        </div>
      </div>



      <div class="form-group" ng-class="{'has-error': form.errors.email}">
        <label for="inputEmail" class="col-sm-3 control-label">E-Mail</label>
        <div class="col-sm-9">
          <input type="text" ng-model="form.data.email" class="form-control" id="inputEmail" placeholder="E-Mail"  tooltip-placement="right" tooltip-trigger="focus" tooltip="Deine E-Mail Adresse für Club-Mails">
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': form.errors.firstname}">
        <label for="inputFirstname" class="col-sm-3 control-label">Vorname</label>
        <div class="col-sm-9">
          <input type="text" ng-model="form.data.firstname" class="form-control" id="inputFirstname" placeholder="Vorname"   tooltip-placement="right" tooltip-trigger="focus" tooltip="Wer bist du?">
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': form.errors.lastname}">
        <label for="inputLastname" class="col-sm-3 control-label">Nachname</label>
        <div class="col-sm-9">
          <input type="text" ng-model="form.data.lastname" class="form-control" id="inputLastname" placeholder="Nachname" tooltip-placement="right" tooltip-trigger="focus" tooltip="Wer bist du?">
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': form.errors.street}">
        <label for="inputStreet" class="col-sm-3 control-label">Straße, Hausnummer</label>
        <div class="col-sm-9">
          <input type="text" ng-model="form.data.street" class="form-control" id="inputStreet" placeholder="Straße, Hausnummer" tooltip-placement="right" tooltip-trigger="focus" tooltip="Wo wohnst du?">
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': form.errors.zip}">
        <label for="inputZip" class="col-sm-3 control-label">PLZ</label>
        <div class="col-sm-9">
          <input type="text" ng-model="form.data.zip" class="form-control" id="inputZip" placeholder="PLZ" tooltip-placement="right" tooltip-trigger="focus" tooltip="Wo wohnst du?">
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': form.errors.city}">
        <label for="inputCity" class="col-sm-3 control-label">Stadt</label>
        <div class="col-sm-9">
          <input type="text" ng-model="form.data.city" class="form-control" id="inputCity" placeholder="Stadt" tooltip-placement="right" tooltip-trigger="focus" tooltip="Wo wohnst du?">
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': form.errors.tel}">
        <label for="inputTel" class="col-sm-3 control-label">Telefon</label>
        <div class="col-sm-9">
          <input type="text" ng-model="form.data.tel" class="form-control" id="inputTel" placeholder="Telefon" tooltip-placement="right" tooltip-trigger="focus" tooltip="Unter welcher Nummer kann man dich erreichen?">
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': form.errors.teamdrive}">
        <label for="inputTD" class="col-sm-3 control-label">Teamdrive Account</label>
        <div class="col-sm-9">
          <input type="text" ng-model="form.data.teamdrive" class="form-control" id="inputTD" placeholder="(z.B. Stecker02)" tooltip-placement="right" tooltip-trigger="focus" tooltip="Dein Teamdrive-Benutzername">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3">
          <button type="submit" ng-if="(form.mode == 'edit') || (form.mode == 'profile')" class="btn btn-default">Speichern</button>
          <button type="submit" ng-if="(form.mode == 'add')" class="btn btn-default">Hinzufügen</button>

          <a ng-if="(form.mode == 'profile')" class="btn btn-danger" href="#/settings">Abbrechen</a>
          <a ng-if="(form.mode == 'edit') || (form.mode == 'add')" class="btn btn-danger" href="#/users">Abbrechen</a>
        </div>


      </div>
    </form>
  </div>
</div>
