<div class="page-header">
  <div class="pull-right">
    <a href="#/users/add" class="btn btn-success">
      <span class="glyphicon glyphicon-plus"></span>
      Hinzufügen
    </a>
  </div>
  <h2>Benutzer</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed" ng-if="users.data">
    <thead>
      <tr>
        <th>User</th>
        <th>Name</th>
        <th>Adresse</th>
        <th>E-Mail</th>
        <th>Telefon</th>
        <th>Rechte</th>
        <th>Rolle</th>
        <th>TeamDrive</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users.data | filter:users.filter.fn | orderBy:'lastname'">
        <td>{{ user.username }}
          <span ng-if="user.superuser" class="glyphicon glyphicon-user" title="Admin"></span>
        </td>
        <td>{{ user.lastname}}, {{ user.firstname}}</td>
        <td>{{ user.street }}
          <br>{{ user.zip }} {{ user.city }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a>
        </td>
        <td><a href="tel:{{ user.tel }}">{{ user.tel }}</a>
        </td>
        <td>{{ user.type }}</td>
        <td>{{ user.role }}</td>
        <td><a href="android-app://com.teamdrive.android.client" />{{ user.teamdrive }}</a></td>
        <td class="text-center" style="width: 33px">
          <div class="btn-group" dropdown>
            <button type="button" class="btn btn-xs btn-default dropdown-toggle" dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">

              <li>
                <a ng-href="#/status/{{ user.id }}">
                  <span class="glyphicon glyphicon-lock"></span>
                  Passwort ändern
                </a>
              </li>

              <li>
                <a ng-href="#/users/edit/{{user.id}}">
                  <span class="glyphicon glyphicon-pencil"></span>
                  Bearbeiten
                </a>
              </li>

              <li>
                <a ng-click="users.remove(user)">
                  <span class="glyphicon glyphicon-trash"></span>
                  Löschen
                </a>
              </li>

            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
