<div class="modal-header">
	<h3 class="modal-title">Benutzerpasswort zurücksetzen</h3>
</div>
<div class="modal-body">
	<p>
		Das Passwort für den Benutzer
		<strong>{{ user.username }}</strong> (
		<strong>{{ user.firstname }} {{ user.lastname }}</strong>) wird zurückgesetzt. Das neue Passwort wird per E-Mail an den Benutzer geschickt.
	</p>
	<p>
		Wirklich fortfahren?
	</p>
</div>
<div class="modal-footer">
	<button class="btn btn-danger" ng-click="$close()">Zurücksetzen</button>
	<button class="btn btn-default" ng-click="$dismiss()">Abbrechen</button>
</div>
