<!-- ########## header ########-->
<div class="page-header">
    <h2 ng-if="form.mode=='profile'">Dein Profil bearbeiten</h2>
    <h2 ng-if="form.mode=='add'">Benutzer hinzufügen</h2>
    <h2 ng-if="form.mode=='edit'">Benutzer bearbeiten</h2>
</div>

<!-- ########## helpboxes ########-->
<helpbox ng-if="form.mode=='profile'" label="Hilfe" active="true">
    <div ng-include="'templates/helpbox/content/editProfile.html'"></div>
</helpbox>

<helpbox ng-if="form.mode=='add' || form.mode=='edit'" label="Hilfe">
    <div ng-include="'templates/helpbox/content/addUser.html'"></div>
</helpbox>

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <!-- ########## Formular start ########-->
        <form class="form-horizontal" role="form" ng-submit="form.submit()" ng-if="form.data">

           <!-- ########## Username and Login-Shell ########-->
            <div class="form-group required" ng-init="showLoginShell = (form.data.superuser || form.mode != 'profile' || form.data.loginShell != '/bin/false')">
                <div ng-class="{'has-error has-feedback': form.errors.username}">
                    <label for="inputUsername" class="col-sm-3 control-label">Benutzername</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="form.data.username" ng-disabled="(form.mode != 'add')" class="form-control" id="inputUsername" placeholder="Benutzername" tooltip-placement="right" tooltip-trigger="focus" uib-tooltip="Benutzername: nur alphanumerisch in Kleinbuchstaben!">
                        <span ng-if="form.errors.username" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="showLoginShell">
                <div ng-class="{'has-error has-feedback': form.errors.loginShell}">
                    <label for="inputLoginShell" class="col-sm-3 control-label">Login-Shell</label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-options="opt.value as opt.label for opt in options.shells" ng-model="form.data.loginShell" ng-disabled="(form.mode == 'profile')"></select>
                    </div>
                </div>
            </div>

            <!-- ########## user permissions, accessiondate ########-->
            <div class="form-group required">

                <div ng-class="{'has-error has-feedback': form.errors.type}">
                    <label class="col-sm-3 control-label">Nutzerrechte</label>
                    <div ng-class="(form.data.type == 'club') ? 'col-sm-3 col-lg-4' : 'col-sm-9'">
                        <select class="form-control" ng-options="opt.value as opt.label for opt in options.usertypes" ng-model="form.data.type" ng-disabled="(form.mode == 'profile')"></select>
                    </div>
                </div>

                <div ng-if="form.data.type == 'club'" class="form-group" ng-class="{'has-error has-feedback': form.errors.accessiondate}">
                    <label for="inputAccessiondate" class="col-sm-3 col-lg-2 control-label">Eintrittsdatum</label>
                    <div class="col-sm-3">
                      <p class="input-group datepicker">
                          <input type="text" class="form-control" ng-disabled="(form.mode == 'profile')" ng-model="form.data.accessiondate" uib-datepicker-popup="{{datePicker.format}}" placeholder="dd.mm.yyyy" is-open="datePicker.accessiondate.opened" datepicker-options="datePicker.options" min-date="datePicker.accessiondate.minDate" max-date="datePicker.accessiondate.maxDate" tooltip-placement="right" tooltip-trigger="focus" uib-tooltip="Wann ist der Nutzer dem Club beigetreten?" />
                          <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="datePicker.accessiondate.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                          <span ng-if="form.errors.accessiondate" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                      </p>
                    </div>
                </div>

            </div>

            <!-- ########## checkboxes for groups and key permissions ########-->
            <div ng-if="form.data.type == 'club'" class="form-group" ng-class="{'has-error has-feedback': form.errors.role}">

                <div ng-if="form.data.type == 'club'" class="col-sm-offset-3 col-sm-4">
                    <label>Rollen</label>
                    <div ng-repeat="group in groups">
                        <div class="checkbox" ng-hide="form.mode == 'profile' && !form.data[group.key]">
                            <label>
                                <input ng-model="form.data[group.key]" ng-disabled="(form.mode == 'profile')" type="checkbox">{{group.label}}
                            </label>
                        </div>
                    </div>
                </div>

                <div ng-if="form.data.type == 'club'" class="col-sm-offset-1 col-sm-4">
                    <label>Schlüsselberechtigungen</label>
                    <div ng-repeat="key in keys">
                        <div class="checkbox">
                            <label>
                                <input ng-model="form.data.keyPermissions[key.key]" ng-disabled="(form.mode == 'profile')" type="checkbox"> {{key.key}} ({{key.name}})
                            </label>
                        </div>
                    </div>
                </div>

            </div>

            <!-- ########## role ########-->
            <div class="form-group" ng-class="{'has-error has-feedback': form.errors.role}">
                <label for="inputRole" class="col-sm-3 control-label">Position</label>
                <div class="col-sm-9">
                    <input type="text" ng-model="form.data.role" ng-disabled="(form.mode == 'profile')" class="form-control" id="inputRole" placeholder="Position" tooltip-placement="top" tooltip-trigger="focus" uib-tooltip="zusätzliche Position (z.B. Vorstandsmitglied, etc.)">
                    <span ng-if="form.errors.role" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>

            <!-- ########## E-Mail ########-->
            <div class="form-group required" ng-class="{'has-error has-feedback': form.errors.email}">
                <label for="inputEmail" class="col-sm-3 control-label">E-Mail</label>
                <div ng-class="form.mode == 'add' ? 'col-sm-5' : 'col-sm-9'">
                    <input type="text" ng-model="form.data.email" class="form-control" id="inputEmail" placeholder="E-Mail" tooltip-placement="top" tooltip-trigger="focus" uib-tooltip="Deine E-Mail Adresse für Club-Mails">
                    <span ng-if="form.errors.email" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="col-sm-4" ng-if="(form.mode == 'add')">
                    <div class="checkbox">
                        <label>
                            <input ng-model="form.data.sendPassword" type="checkbox">Passwort per E-Mail senden
                        </label>
                    </div>
                </div>
            </div>

            <hr>

            <!-- ########## Name inputs ########-->
            <div class="form-group required">
                <label for="inputFirstname" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-5" ng-class="{'has-error has-feedback': form.errors.firstname}">
                    <input type="text" ng-model="form.data.firstname" class="form-control" id="inputFirstname" placeholder="Vorname">
                    <span ng-if="form.errors.firstname" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>

                <div class="col-sm-4" ng-class="{'has-error has-feedback': form.errors.lastname}">
                    <input type="text" ng-model="form.data.lastname" class="form-control" id="inputLastname" placeholder="Nachname">
                    <span ng-if="form.errors.lastname" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error has-feedback': form.errors.alias}">
                <label for="inputAlias" class="col-sm-3 control-label">Spitzname</label>
                <div class="col-sm-9">
                    <input type="text" ng-model="form.data.alias" class="form-control" id="inputAlias" placeholder="Spitzname" tooltip-placement="right" tooltip-trigger="focus" uib-tooltip="Gibt es einen Spitznamen?">
                    <span ng-if="form.errors.alias" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>

            <hr>

            <!-- ########## telephone and birthday ########-->
             <div class="form-group" ng-class="{'has-error has-feedback': form.errors.tel}">
                <label for="inputTel" class="col-sm-3 control-label">Telefon</label>
                <div class="col-sm-9">
                    <input type="text" ng-model="form.data.tel" class="form-control" id="inputTel" placeholder="Telefon" tooltip-placement="right" tooltip-trigger="focus" uib-tooltip="Unter welcher Nummer kann man dich erreichen?">
                    <span ng-if="form.errors.tel" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error has-feedback': form.errors.birthday}">
                <label for="inputBirthday" class="col-sm-3 control-label">Geburtstag</label>
                <div class="col-sm-9">
                    <p class="input-group datepicker">
                        <input type="text" class="form-control" ng-model="form.data.birthday" uib-datepicker-popup="{{datePicker.format}}" placeholder="dd.mm.yyyy" is-open="datePicker.birthday.opened" datepicker-options="datePicker.options" tooltip-placement="right" tooltip-trigger="focus" uib-tooltip="Hier kannst du deinen Geburtstag eintragen." />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="datePicker.birthday.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <span ng-if="form.errors.birthday" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    </p>
                </div>
            </div>

            <!-- ########## Adress ########-->
            <div class="form-group" ng-class="{'has-error has-feedback': form.errors.street}">
                <label for="inputStreet" class="col-sm-3 control-label">Adresse</label>
                <div class="col-sm-9">
                    <input type="text" ng-model="form.data.street" class="form-control" id="inputStreet" placeholder="Straße, Hausnummer" tooltip-placement="right" tooltip-trigger="focus" uib-tooltip="Wo wohnst du?">
                    <span ng-if="form.errors.street" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3 col-sm-2 col-sm-offset-3" ng-class="{'has-error has-feedback': form.errors.zip}">
                    <input type="text" ng-model="form.data.zip" class="form-control" id="inputZip" placeholder="PLZ">
                    <span ng-if="form.errors.zip" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="col-xs-9 col-sm-7" ng-class="{'has-error has-feedback': form.errors.city}">
                    <input type="text" ng-model="form.data.city" class="form-control" id="inputCity" placeholder="Stadt" tooltip-placement="right" tooltip-trigger="focus" uib-tooltip="Wo wohnst du?">
                    <span ng-if="form.errors.city" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>

            <hr>

            <!-- ########## Formular buttons ########-->
            <div class="form-group">
                <div class="col-sm-offset-3">
                    <button type="submit" ng-if="(form.mode == 'edit') || (form.mode == 'profile')" class="btn btn-default">Speichern</button>
                    <button type="submit" ng-if="(form.mode == 'add')" class="btn btn-default">Hinzufügen</button>
                    <a ng-if="(form.mode == 'profile')" class="btn btn-danger" href="#/settings">Abbrechen</a>
                    <a ng-if="(form.mode == 'edit') || (form.mode == 'add')" class="btn btn-danger" href="#/users">Abbrechen</a>
                </div>
            </div>

        </form>

    </div>
</div>
