<h3>Hinweise zu Markdown</h3>
<h4>Überschriften</h4>
<div class="row">
    <div class="col-md-4">
        <code># Überschrift 1</code>
    </div>
    <div class="col-md-8">
        <h4>Überschrift Größe 1</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <code>## Überschrift 2</code>
    </div>
    <div class="col-md-8">
        <h5>Überschrift Größe 2</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <code>...</code>
    </div>
    <div class="col-md-8">
        <h5>Überschrift Größe ...</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <code>###### Max Mustermann (HH:MM Uhr)</code>
    </div>
    <div class="col-md-8">
        <h5>Verspätet zur Sitzung erschienen (Überschrift Größe 6)</h5>
    </div>
</div>

<h4>Texthervorhebungen</h4>
<div class="row">
    <div class="col-md-4">
        <code>*text*</code>
    </div>
    <div class="col-md-8">
        <i>Kursiv geschriebener Text</i>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <code>**text**</code>
    </div>
    <div class="col-md-8">
        <b>Fett geschriebener Text</b>
    </div>
</div>
<!--<div class="row">
  <div class="col-md-4">
    <code>&tilde;&tilde;text&tilde;&tilde;</code>
  </div>
  <div class="col-md-8">
    <strike>Durchgestrichener Text</strike>
  </div>
</div>-->
<h4>Neue Zeile</h4>
<p>Um eine neue Zeile zu beginnen ist es notwendig eine Leezeile einzufügen.</p>

<h4>Listen</h4>
<h5>Ohne Nummerierung:</h5>
<div class="row">
    <div class="col-md-4">
        <pre>
* item1
  * item1.1
  * item1.2
* item2
* item3
  * item3.1
    * item3.1.1
    * item3.1.2
        </pre>
    </div>
    <div class="col-md-8">
        <ul>
            <li>item1</li>
            <ul>
                <li>item1.1</li>
                <li>item1.2</li>
            </ul>
            <li>item2</li>
            <li>item3</li>
            <ul>
                <li>item3.1</li>
                <ul>
                    <li>item3.1.1</li>
                    <li>item3.1.2</li>
                </ul>
            </ul>
        </ul>
    </div>
</div>
<!--
<h5>Mit Nummerierung:</h5>
<div class="row">
  <div class="col-md-4">
    <pre>
1 item1
1 item1.1
2 item1.2
2 item2
3 item3
1 item3.1
    1 item3.1.1
    2 item3.1.2
    </pre>
  </div>
  <div class="col-md-8">
    <ol>
      <li>item1
        <ol>
          <li>item1.1</li>
          <li>item1.2</li>
        </ol>
      </li>
      <li>item2</li>
      <li>item3
        <ol>
          <li>item3.1
            <ol>
              <li>item3.1.1</li>
              <li>item3.1.2</li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>
  </div>
</div>
<p>
  Die Zahlen zu Beginn einer Nummerierung spielen keine Rolle, Markdown nummeriert diese von Beginn an neu durch.
</p>
-->
<p>
    Eine Verschachtelung von geordneten und ungeordneten Listen ist möglich.
</p>
<p>
    Eine detailierte Beschreibung findet man <a href="http://markdown.de" target="blank">hier</a>.
</p>
