<div class="row">
  <div class="col-lg-offset-2 col-lg-4 col-md-offset-2 col-md-4 offset-sm-0 col-sm-6 col-xs-12">
    <a ng-href="#/settings/changepassword" type="button" class="btn btn-default btn-lg btn-block btn-xl"><span class="glyphicon glyphicon-lock"></span> Passwort ändern</a>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <a ng-href="#/settings/profile" type="button" class="btn btn-default btn-lg btn-block btn-xl"><span class="glyphicon glyphicon-user"></span> Profil bearbeiten</a>
  </div>
</div>
