

<div class="row">
  <div class="offset-lg-3 col-lg-6 offset-md-3 col-md-6 offset-sm-0 col-sm-6 col-xs-12">
    <a ng-href="#/settings/changepassword" type="button" class="btn btn-default btn-lg btn-block btn-xl"><span class="glyphicon glyphicon-lock"></span> Passwort ändern</a>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <a ng-href="#/settings/profile" type="button" class="btn btn-default btn-lg btn-block btn-xl"><span class="glyphicon glyphicon-user"></span> Profil bearbeiten</a>
  </div>
</div>
