<h4 ng-if="form.mode=='add'">Einen neuen Benutzer hinzufügen</h4>
<h4 ng-if="form.mode=='edit'">Einen Benutzer bearbeiten</h4>
<p>Folgendes gilt zu beachten:
    <ul>
        <li><b>Benutzername <i>(obligatorisch)</i>:</b> Bitte gib hier einen eindeutigen Benutzername (z.B. "aaron") ein. Dieser sollte nur Kleinbuchstaben enthalten.</li>
        <li><b>Nutzerrechte <i>(obligatorisch)</i>:</b> Hier kannst du zwischen folgenden Optionen wählen:
            <ul>
                <li><i>Extern</i>: Diese Benutzer erhalten lediglich einen WLAN-Gastzugang und können auch nicht die Mitgliederliste abrufen.</li>
                <li><i>Clubmitglied</i>: Clubmitglieder bekommen automatisch eine WLAN-Freischaltung und können die Mitgliederliste einsehen.</li>
            </ul>
        </li>
        <li><b>Superuser:</b> Wenn dieses Feld ausgewählt wird, erhält der Nutzer administrative Rechte.</li>
        <li><b>Schlüsselberechtigungen <i>(nur für Clubmitglieder)</i>:</b> Hier kann angegeben werden, welche Schlüssel der Hochschule ein Mitglied beitzen darf. Aus diesen Einstellungen resultiert die Schlüsselliste, welche auch von Frau Pihaule eingesehen werden kann.</li>
        <li><b>Position <i>(nur für Clubmitglieder)</i>:</b> Hier können zusätzliche Infos wie zum Beispiel "Vorstand", "Anwärter" oder "Resortleiter" angegeben werden.</li>
        <li><b>Ehrenmitglied/ Ehemalig <i>(nur für Clubmitglieder)</i>:</b> Es kann festgelegt werden ob es sich um ein Ehrenmitglied oder ehemaliges Clubmitglied oder handelt.</li>
        <li><b>Eintrittsdatum <i>(nur für Clubmitglieder)</i>:</b> Im Kalender kann das Eintrittdatum des Clubmitglieds ausgewählt werden.</li>
        <li><b>E-Mail, Vorname, Nachname <i>(obligatorisch)</i>:</b> Diese Angaben sind notwendig. Bei <i>E-Mail</i> sollte der Haken hinter "Passwort per E-Mail senden" gesetzt bleiben, der Nutzer erhält dann nach der Profilerstellung automatisch eine E-Mail mit seinen Zugangsdaten. Diese sollten nach der Einrichtung vom Nutzer selbst geändert werden.</li>
        <li><b>Spitzname, Straße, Hausnummer, PLZ, Stadt, Telefon, Geburtstag <i>(optional)</i>:</b> Diese Angaben können optional hinterlegt werden.</li>
    </ul>
</p>
