
  <div class="page-header">
    <h2>About</h2>
  </div>

  <div class="row">
    <div class="col-md-6">
      <address>
        <strong>Danny Koppenhagen</strong> <br>
        Web: <a href="http://d-koppenhagen.de">d-koppenhagen.de</a> <br>
        Github: <a href="https://github.com/Doerki" target="_blank">https://github.com/Doerki</a> <br>
        Mail: <a href="mailto:mail@d-koppenhagen.de">mail@d-koppenhagen.de</a> <br>´
      </address>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Ferdinand Malcher</strong> <br>
        Web: <a href="http://ferdinand-malcher.de/">d-koppenhagen.de</a> <br>
        Github: <a href="https://github.com/fmalcher" target="_blank">https://github.com/Doerki</a> <br>
        Mail: <a href="mailto:mail@ferdinand-malcher.de">mail@ferdinand-malcher.de</a> <br>´
      </address>
    </div>
  </div>
</div>
