
  <div class="page-header">
    <h2>About</h2>
  </div>

<h3><span class="glyphicon glyphicon-info-sign"></span> Info</h3>
<div class="row">
	<div class="col-md-12">
		<strong>HfTL-Club Clubinformationssystem</strong><br>
		Proudly powered by AngularJS, Bootstrap, NodeJS, OpenLDAP, freeRADIUS
		<p class="help-block"></p>
	</div>
</div>

<h3><span class="glyphicon glyphicon-hdd"></span> Repository</h3>
<div class="row">
	<div class="col-md-12">
		GitHub: <a href="https://github.com/hftlclub/club-admin">https://github.com/hftlclub/club-admin</a>
		<p class="help-block"></p>
	</div>
</div>

<h3><span class="glyphicon glyphicon-heart"></span> Entwickler</h3>

  <div class="row">
    <div class="col-md-6">
      <address>
        <strong>Danny Koppenhagen</strong> <br>
        Web: <a href="http://www.d-koppenhagen.de">www.d-koppenhagen.de</a> <br>
        GitHub: <a href="https://github.com/d-koppenhagen" target="_blank">https://github.com/d-koppenhagen</a> <br>
        E-Mail: <a href="mailto:mail@d-koppenhagen.de">mail@d-koppenhagen.de</a>
      </address>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Ferdinand Malcher</strong> <br>
        Web: <a href="http://www.ferdinand-malcher.de/">www.ferdinand-malcher.de</a> <br>
        GitHub: <a href="https://github.com/fmalcher" target="_blank">https://github.com/fmalcher</a> <br>
        E-Mail: <a href="mailto:mail@ferdinand-malcher.de">mail@ferdinand-malcher.de</a>
      </address>
    </div>
  </div>

</div>
