<style type="text/css" media="print" href="print.pdf">
    @media print {
        html,
        body,
        .container {
            margin: 0 !important;
            padding: 0 !important;
        }
    }
</style>

<div>
    <div class="page-header">

        <div class="pull-right hidden-print">
            <a href="javascript:window.print()" class="btn btn-success">
                <span class="glyphicon glyphicon-print"></span>
                <span ng-if="keylistFilter">Gefilterte</span> Schlüsselliste drucken
            </a>
        </div>

        <h2>
            Schlüsselliste
            <span ng-if="isPublic">HfTL-Club</span>
        </h2>
        <span class="visible-print pull-right"> (Stand: {{date | date:'dd.MM.yyyy'}})</span>
    </div>


    <helpbox class="hidden-print" label="Hilfe" active="true">
        <div ng-include="'templates/helpbox/content/keylist.html'"></div>
    </helpbox>
    <span class="help-block hidden-print"></span>

    <div class="form horizontal hidden-print">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn" ng-class="{'btn-warning': listFilter, 'btn-default disabled': !listFilter}" ng-click="listFilter = ''" type="button">
                        Filter
                        <span class="glyphicon glyphicon glyphicon-filter" ng-if="!listFilter"></span>
                        <span class="glyphicon glyphicon-remove" ng-if="listFilter"></span>
                    </button>
                </span>
                <input class="form-control" ng-model="listFilter" ng-change="tableFiltered(listFilter)" placeholder="Einträge durchsuchen" type="text">
            </div>
        </div>
    </div>

    <div>
        <table class="table table-striped table-bordered table-condensed table-hover" datatable="" dt-options="dt.options" dt-columns="dt.columns" dt-instance="dt.instance">
        </table>
    </div>
</div>
