<style type="text/css" media="print" href="print.pdf">
  @media print {
    @page {
      size: letter landscape;
    }
    html,
    body,
    .container {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
</style>

<div ng-if="user.type=='club'">
  <div class="page-header">

    <div class="pull-right hidden-print">
      <a href="javascript:window.print()" class="btn btn-success">
        <span class="glyphicon glyphicon-print"></span>
        Mitgliederliste drucken
      </a>
    </div>

    <h2>Mitgliederliste</h2> <span class="visible-print pull-right"> (Stand: {{date | date:'dd.MM.yyyy'}})</span>
  </div>


  <div class="hidden-print">
    <label>Angezeigte Spalten:</label>
    <span class="pull-right">
      <label ng-repeat="attr in attrlist" ng-if="attrs[attr].hasOwnProperty('state')" class="checkbox-inline">
        <input ng-model="attrs[attr].state" type="checkbox"> {{attrs[attr].label}}
      </label>
    </span>

    <span class="help-block"></span>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed table-hover" ng-if="members.data">
      <thead>
        <tr>
          <th ng-repeat="attr in attrlist" ng-if="!attrs[attr].hasOwnProperty('state') || attrs[attr].state" ng-click="orderBy(attr)">
            {{attrs[attr].label}}
            <span ng-show="orderByCol == attr">
              <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
              <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>
            </span>
          </th>

          <th ng-if="isSuperuser" class="text-center hidden-print">
            <span class="glyphicon glyphicon-cog"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="member.type != 'other'" ng-repeat="member in members.data | orderBy:attrs[orderByCol].order:reverseSort" ng-class="{'text-muted': member.former}">
		  <td ng-if="attrs.index.state">{{ $index + 1 }}</td>
          <td>{{ member.lastname }}, {{ member.firstname }}</td>
          <td ng-if="attrs.alias.state">{{ member.alias }}</td>
          <td ng-if="attrs.tel.state">
            <a ng-if="member.tel" href="tel:{{ member.tel }}" class="hidden-print">{{ member.tel }}</a>
            <span ng-if="member.tel" class="visible-print">{{ member.tel }}</span>
          </td>
          <td ng-if="attrs.email.state">
            <a ng-if="member.email" href="mailto:{{ member.email }}" class="hidden-print">{{ member.email }}</a>
            <span ng-if="member.email" class="visible-print">{{ member.email }}</span>
          </td>
          <td ng-if="attrs.role.state">{{ member.role }}</td>
          <td ng-if="attrs.td.state">{{ member.teamdrive }}</td>
          <td ng-if="attrs.addr.state">{{ member.street }}
            <br>{{ member.zip }} {{ member.city }}</td>
          <td ng-if="attrs.birthday.state" ng-class="{'text-warning': isBirthday(member.birthday)}">{{ member.birthday | date:fulldate }}
            <span ng-if="isBirthday(member.birthday)" class="glyphicon glyphicon-gift pull-right"></span>
          </td>
          <td ng-if="attrs.accdate.state">{{ member.accessiondate | date:fulldate }}</td>
          <td ng-if="attrs.keyPermissions.state">
            <span ng-repeat="(key, value) in member.keyPermissions" class="badge">{{ key }}</span>
          </td>
          <td>
            <span ng-if="!member.former" class="label label-success">Aktiv</span>
            <span ng-if="member.former" class="label label-default">Ehemalig</span>
            <span ng-if="member.honorary" class="pull-right glyphicon glyphicon-star text-danger" title="Ehrenmitglied"></span>
          </td>
          <td ng-if="isSuperuser" class="text-center hidden-print" style="width: 33px">
            <a ng-href="#/users/edit/{{member.username}}" type="button" class="btn btn-xs btn-default">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
