
<ul class="nav navbar-nav">
	<li club-active-state><a href="#/settings">Einstellungen</a></li>
	<li ng-if="user.superuser" club-active-state><a href="#/users">Benutzer</a></li>
</ul>

<div class="navbar-right">
	<p class="navbar-text">
		<b><a href="#/settings/profile" class="navbar-link">{{ user.username }}</a></b>
		<span ng-if="user.superuser" class="clubUserType">(Superuser)</span>
		<span ng-if="!user.superuser">
			<span ng-if="user.type=='club'" class="clubUserType">(Club)</span>
			<span ng-if="user.type=='other'" class="clubUserType">(Extern)</span>
		</span>
	</p>

	<button type="button" class="btn btn-xs btn-default navbar-btn navbar-right" ng-click="nav.logout()">Logout</button>
</div>
