<div class="modal-header">
	<h3 class="modal-title">Passwort vergessen</h3>
</div>
<div class="modal-body">
	<p>
		Falls Sie ihr Passwort vergessen haben, können Sie es hier zurücksetzten. Geben Sie dazu Ihre registrierte
		<strong>E-Mail-Adresse</strong> ein und klicken Sie auf
		<em>Zurücksetzen</em>.
	</p>
	<p>
		<input class="form-control" placeholder="E-Mail-Adresse" ng-model="email">
	</p>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="$close(email)">Zurücksetzen</button>
	<button class="btn btn-default" ng-click="$dismiss()">Abbrechen</button>
</div>
