<h2 class="page-header">Club-Kalender</h2>

<p>Für die clubinterne Terminkoordination gibt es mehrere Kalender. Diese werden vom StuRa der HfTL gehosted und können durch
  euch als iCal in eure eigenen Kalendar importiert werden.</p>

<div class="media">
  <div class="media-left">
    <p><span class="glyphicon glyphicon-calendar" style="font-size: xx-large;"></span>
    </p>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Club öffentlich</h4>
    <a href="http://stura.hft-leipzig.de/events/club/events.ics" target="_blank">http://stura.hft-leipzig.de/events/club/events.ics</a>
  </div>
</div>
